<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Add Product</h1>
    <form action="">
        <input type="text" placeholder="Type Id Here ">
        <br>
        <input type="text" placeholder="Type Name Here">
        <br>
        <input type="text" placeholder="Type Price Here">
        <br>
        <input type="text" placeholder="Type URL Here">
        <button>Add</button>
    </form>
</body>
</html>